@model MVCKutuphane.Models.Entity.TBL_Yazar
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazar Ekleme Sayfasi</h2>
<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Yazar Adi</label>
        @Html.TextBoxFor(x => x.Yazar_Adi, new { @class = "form-control", maxlength = 15, minlength = 2, required = "" })
    </div>
    <div style="margin-top:15px">
        <label>Yazar Soyadi</label>
        @Html.TextBoxFor(x => x.Yazar_Soyad, new { @class = "form-control", maxlength = 20, minlength = 2, required = "" })
    </div>
    <div style="margin-top:15px">
        <label>Kitap Sayisi</label>
        @Html.TextBoxFor(x => x.Kitap_Sayisi, new { @class = "form-control", maxlength = 5, minlength = 1, required = "" })
    </div>
    <div style="margin-top:15px">
        <label>Detay</label>
        @Html.TextBoxFor(x => x.Detay, new { @class = "form-control", maxlength = 80, minlength = 2, required = "" })
    </div>
    <div>
        <div style="margin-bottom:15px"></div>
        <button class="btn btn-info">Yazar Ekle</button>
    </div>
</form>
