@using MVCKutuphane.Models.Entity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kasa</h2>

<table class="table table-bordered">
    <tr>
        <td>Bakiye</td>
    </tr>
    <tr>
        <td>@ViewBag.Toplam</td>
    </tr>
</table>
