@model  MVCKutuphane.Models.Entity.TBL_Uyeler
@{
    Layout = null;
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="~/Content/stil.css">

<div class="sidenav">
    <div class="login-main-text">
        <h2>Kutuphane Sistemi<br> Giris Sayfasi</h2>
        <p>Giris yada kayit olarak sisteme giris yapabilirsiniz!.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            @using (Html.BeginForm("Index", "Giris", FormMethod.Post))
            {

                <div class="form-group">
                    <label>Kullanici Adi</label>
                    <input type="text" class="form-control" placeholder="Kullanici Adi" required="" name="Kullanici_Adi">
                </div>
                <div class="form-group">
                    <label>Sifre</label>
                    <input type="password" class="form-control" placeholder="Sifre" required="" name="Sifre">
                    <button class="btn btn-danger btn-block" type="submit">Login</button>
                </div>
            }
            <ul class="navbar-nav text-uppercase ml-auto">
                Bir Uye Degil Misiniz?
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/KayitOl/Kayit">Kayit Ol!</a></li>
            </ul>
            <ul class="navbar-nav text-uppercase ml-auto">
                Sifrenizi mi unuttunuz?
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/Giris/SifreyiResetle">Sifremi Hatırlat!</a></li>
            </ul>

        </div>
    </div>
</div>

