
@{
    Layout = null;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="~/Content/stil.css">

<div class="sidenav">
    <div class="login-main-text">
        <h2>Sifremi Unuttum<br> Sayfasi</h2>
        <p>Sisteme kayıtlı olduğunuz mail ile sifrenizi resetleyebilirsiniz.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form method="post" class="login-form validate-form">
                <div class="form-group">
                    <label>Email'iniz</label>
                    <input type="text" class="form-control" placeholder="Email'iniz" required="" name="uye_mail">
                </div>
                <div class="form-group">
                    <label>Ipucunuz</label>
                    <label>Bu uye olurkenki sectiginiz gizli sorunun cevabidir</label>
                    <input type="text" class="form-control" placeholder="Ipucunuz" required="" name="ipucu">
                </div>
                <button class="login-form-btn">
                    Mail Gonder!
                </button>

                <div class="container-login100-form-btn">
                </div>

            </form>
        </div>
    </div>
</div>