@using MVCKutuphane.Models.Entity
@model List<TBL_Uyeler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutKullanici.cshtml";
}

<link rel="stylesheet" href="~/Content/Checkout.css">

<div class="row">
    <div class="col-75">
        <div class="container">
            <form>
                @foreach (var k in Model)
                {
                <div class="row">
                    <div class="col-50">
                        <h3>Billing Address</h3>
                        <label for="fname"><i class="fa fa-user"></i>Uye Adi</label>
                        <input type="text" id="fname" name="firstname" placeholder=@HttpContext.Current.User.Identity.Name readonly required="">
                        <label for="adr"><i class="fa fa-address-card-o" maxlength="80"></i> Adres</label>
                        <input type="text" id="adr" name="address" placeholder="Cekmekoy/Istanbul" maxlength="80" min="6" required="">
                        <label for="city"><i class="fa fa-institution"></i> Sehir</label>
                        <input type="text" id="city" name="city" placeholder="Istanbul" maxlength="30" min="2" required="">

                        <div class="row">
                            <div class="col-50">
                                <label for="zip">Zip</label>
                                <input type="text" id="zip" name="zip" placeholder="3002" maxlength="10" min="2" required="">
                            </div>
                        </div>
                    </div>

                    <div class="col-50">
                        <h3>Odeme</h3>
                        <label for="fname">Kabul Edilen Kartlar</label>
                        <div class="icon-container">
                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                            <i class="fa fa-cc-discover" style="color:orange;"></i>
                        </div>
                        <label for="cname">Kart'daki isminiz</label>
                        <input type="text" id="cname" name="cardname" placeholder="Berkay Baran" maxlength="40" required="" min="5">
                        <label for="ccnum">Kredi Kartı Numaranız</label>
                        <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" maxlength="19" min="16" required="">
                        <label for="expmonth">Son kullanma tarihi</label>
                        <input type="text" id="expmonth" name="expmonth" placeholder="Mart" maxlength="6" min="3" required="">

                        <div class="row">
                            <div class="col-50">
                                <label for="expyear">Son kullanma Yılı</label>
                                <input type="text" id="expyear" name="expyear" placeholder="2018" maxlength="4" min="4" required="">
                            </div>
                            <div class="col-50">
                                <label for="cvv">CVV</label>
                                <input type="text" id="cvv" name="cvv" placeholder="352" maxlength="3" min="3" required="">
                            </div>
                        </div>
                    </div>
                    <a href="/Bakiye/Ekle/@k.ID" class="btn btn-success">Bakiye Ekle!</a>
                </div>
                }
            </form>

        </div>
    </div>


</div>

